<section class="card bg-light shadow">
    <summary class="d-flex flex-row flex-wrap card-header bg-info text-light justify-content-between align-items-end">
        <p class="mb-0">{{text}}</p>
        <i class="mb-0 flex-fill text-right">- {{commenter}}, {{format_date date_created}}</i>
    </summary>
</section>