<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css">

    <title>The Tech Tree</title>
</head>

<body class="bg-secondary">
    <header class="bg-info text-light text-left w-100 p-2 mb-4">
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link text-light h6" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-light h6" href="/dashboard">Dashboard</a>
            </li>
            {{#if logged_in}}
            <li class="nav-item">
                <a id="logout" class="nav-link text-light h6" href="">Logout</a>
            </li>
            {{else}}
            <li class="nav-item">
                <a class="nav-link text-light h6" href="/login">Login</a>
            </li>
            {{/if}}
        </ul>
        <div class="d-flex flex-row flex-wrap align-items-center mb-2">
            <img src="/images/tech-tree.png" height="40" class="ml-3" />
            <h1 class="ml-3 mb-0">The Tech Tree</h1>
        </div>
        
    </header>

    <main class="d-flex flex-column align-items-center">
        <div class="col-sm-12 col-md-10 col-lg-8">
            {{{body}}}
        </div>
    </main>

    {{#if logged_in}}
    <script src="/js/logout.js"></script>
    {{/if}}
</body>

</html>